* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgb(71, 202, 207);
  color: rgb(144, 9, 9);
  font-size: 30px;
  padding: 30px;
}

.app-logo {
  font-size: 22px;
  font-weight: bold;
}

.header-navigtion {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header-navigtion > a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 20px;
  padding: 140px 20px 20px 20px;
  background-color: bisque;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: gainsboro;
}
